*.env*
.idea/

__azurite_db*__.json
__blobstorage__
__queuestorage__
local.settings.json
.venv
**/__pycache__/
*.tfvars
**/.terraform/
*terraform.tfstate*
**/node_modules/

# Test environment files
*/.env.test
**/.env.test
