.main {
    padding-top: 8rem;
}

.section {
    @apply mx-auto;
}

.sectionContent {
    @apply  px-8 flex justify-center;
}

.bgJobSeeker {
    background: linear-gradient(to bottom, rgba(var(--color-two-rgb), 1) 0%, rgba(var(--color-two-rgb), 0) 50%), url('/images/JobSeeker_3.3.png');
    background-size: cover;
    background-position: top;

    @media screen and (min-width: 768px) {
        background: linear-gradient(to bottom, rgba(var(--color-two-rgb), 1) 0%, rgba(var(--color-two-rgb), 0) 40%), url('/images/JobSeeker_3.3.png');
        background-size: cover;
        background-position: top;
    }

    @media screen and (min-width: 1024px) {
        background: linear-gradient(to bottom, rgba(var(--color-two-rgb), 1) 0%, rgba(var(--color-two-rgb), 0) 30%), url('/images/JobSeeker_3.3.png');
        background-size: cover;
        background-position: top;
    }
}


.heading {
    @apply text-5xl sm:text-7xl lg:text-8xl font-semibold mb-4;
}

.paragraph {
    @apply mb-4;
}

.button {
    @apply grow;
}