.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navInner {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 30px;
}

.burgerWrapper {
    outline: none;
    border: 0;
    background-color: transparent;
    height: 100%;
    padding: 0 15px;
    display: none;
    cursor: pointer;
}

.ulWrapper {
    display: flex;
    white-space: nowrap;
    margin: 0 20px;
}

.ulWrapper li {
    white-space: nowrap;
    padding: 0 10px;
}

.ulWrapperRight {
    display: flex;
    white-space: nowrap;
}

/* Media Queries */
@media (max-width: 760px) {
    .burgerWrapper {
        display: block;
    }

    .ulWrapper {
        display: none;
    }

    .ulWrapperRight {
        display: none;
    }
}

/* For very wide screens */
@media (min-width: 1921px) {
    .navInner {
        padding: 0 2rem;
    }
} 