/* SvgComponent.module.css */
@font-face {
    font-family: 'Montserrat Light Alt1';
    src: url('../../assets/fonts/MontserratAlt1-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.logo {
    font-family: 'Montserrat Light Alt1', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    /* align text vertically center */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Gradient for text */
    background: linear-gradient(to right, #000000, #7a7985);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Required for gradient to work properly */
}
