/* app/components/Header.module.css */
@keyframes fadeInMoveRight {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fadeInMoveRight {
    animation: fadeInMoveRight 0.5s ease-out forwards;
  }
  